

<app-header></app-header>
<div class="row">
  <div id="upperbg">
<section class="gradient-custom" style="margin-top: 120px">
    <p *ngIf="!picture.data[0]">Bild existiert nicht</p>
    <div *ngIf="picture.data[0]" class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card" style="border-color: white; margin-top: -20px" >
          <div id="bodycard" class="card-body p-4">
            <form>
            <div class="form-group">
              <label for="commentText">Verfasse einen Kommentar</label>
              <textarea required="required" (keyup)="onKey($event)" class="form-control" id="commentText" rows="3"></textarea>
            </div>
            </form>
            <div class="row">
              <div class="col">
                <div class="d-flex flex-start">
                  <img class="rounded shadow-1-strong me-3"
                       src="{{serverAdress+picture.data[0].attributes.creator.data.attributes.profilePicture.data.attributes.url}}"
                       (click)="clickOnPB(picture.attributes.creator.attributes.username)"
                  alt="avatar" width="65"
                       height="65"/>
                  <div class="flex-grow-1 flex-shrink-1">
                    <div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-1">
                          {{picture.data[0].attributes.creator.data.attributes.givenName}} <span class="small">- {{picture.data[0].attributes.updatedAt | date: 'dd.MM.yyyy  HH:mm'}}</span>
                        </p>
                        <button (click)="sendComment()" type="submit" class="button-62" style="justify-content: center">
                          <span> <fa-icon [icon]="send"></fa-icon></span>
                        </button>
                      </div>
                      <p class="small mb-0">
                        {{picture.data[0].attributes.description}}
                      </p>
                    </div>
                    <!-- <h1 *ngFor="let comment of comments.data">Hallo {{comment.attributes.author.data.attributes.givenName}}</h1> -->
                    <div *ngFor="let comment of comments.data" id="comment" class="d-flex flex-start mt-4">
                      <a class="me-3">
                        <img (click)="clickOnPB(comment.attributes.author.data.attributes.username)" class="rounded shadow-1-strong"
                             src="{{serverAdress+comment.attributes.author.data.attributes.profilePicture.data.attributes.url}}" alt="avatar"
                             width="65" height="65"/>
                      </a>
                        <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1">
                              {{comment.attributes.author.data.attributes.username}} <span class="small">- {{comment.attributes.updatedAt | date: 'dd.MM.yyyy  HH:mm'}}</span>
                            </p>
                            <a style="font-weight: bold; color: #B85125; margin-right: -20px" onclick="location.href= 'mailto:info@realme.de?subject=Content%20melden&amp;body=Benutzername%20des%20Content%20Creators:%0D%0A%0D%0AGrund%20des%20Meldens:%0D%0A%0D%0ANachricht:';">
                              !
                            </a>
                          </div>
                          <p class="small mb-0">
                            {{comment.attributes.text}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <br><br>
                    <p *ngIf="!comments.data[0]">Keine Kommentare vorhanden</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  </div>
</div>
